// - - - - - - - - - - - - - - - - - - - -
//
// flex helper
//
// - - - - - - - - - - - - - - - - - - - -
//
//
// ---------------------------------------------------------
// display
// ---------------------------------------------------------
//
.f-flex {
  display: flex;
}

.f-in-flex {
  display: inline-flex;
}
// ---------------------------------------------------------
// justify content
// ---------------------------------------------------------
//
//
.f-left {
  justify-content: flex-start;
}

.f-right {
  justify-content: flex-end;
}

.f-center {
  justify-content: center;
}

.f-around {
  justify-content: space-around;
}

.f-between {
  justify-content: space-between;
}
// ---------------------------------------------------------
// align item
// ---------------------------------------------------------
//
//
.f-top {
  align-items: flex-start;
}

.f-bottom {
  align-items: flex-end;
}

.f-middle {
  align-items: center;
}
// ---------------------------------------------------------
// item wrap
// ---------------------------------------------------------
//
//
.f-wrap {
  flex-flow: wrap;
}
// ---------------------------------------------------------
// column
// ---------------------------------------------------------
//
//
.f-col {
  flex-direction: column;
}
// ---------------------------------------------------------
// one thing full of width
// ---------------------------------------------------------
//
//
.f-full {
  flex: 1 1;
}
// ---------------------------------------------------------
// align self
// ---------------------------------------------------------
//
//
.f-top-s {
  align-self: flex-start;
}

.f-bottom-s {
  align-self: flex-end;
}

.f-middle-s {
  align-self: center;
}

// ---------------------------------------------------------
// middle of the earch
// ---------------------------------------------------------
//
//
.f-middle-center {
  display: flex;
  align-items: center;
  justify-content: center;
}